.tile{
	float: left;
	position: relative;
	width:1em;
	height:1em;
	outline: 1px solid black;
}
input{
	background-color: transparent;;
}
.op-filled .letter-holder {
	background-color: rgba(255,55,55,.15);
}

.highlighted {
	background-color: rgba(55,55,255,.075);
}
.focused {
	background-color: rgba(55,55,255,.3);
}

.tile .letter-holder{
	font-size: .6em;
	height:1rem;
}

.tile .letter-holder input{
	height:100%;
	width:100%;
	font-size: 1em;
	text-align: center;
}
.black{
	background: black;
}
.gridnum{
	position: absolute;
	font-size: .25em;
	line-height: 1em;
	padding:.2em;
	top:0;
	left:0;
	display: block;
}
.puzzleBoard{
	overflow: hidden;
	border: 2px solid black;
	margin: 1em;
	margin-top: 0;
	float: left;
}
.clueBoard{
	font-size: .4em;
}
h6{
	font-weight: normal;
}
html, input{
	font-family: 'Raleway','LucidaGrande',sans-serif;
}
html{
	font-size: 33px;
	text-align: center;
	line-height: 1em;
}